extends /layouts/default

block style
  link(rel="stylesheet", href="css/index.css")

block content
  header
    .header__bar

    .title
      .title__background
      .title__content
        .title__head We are <h1>M<span class="small">akio</span>&F<span class="small">loz</span></h1>,<br />
        .title__sub We love Art and Creative Technology.

    .separator

  .content
    .content__left
      .presentation
        h4 Blog posts
        .line
        .presentation__content.
          We are talking about Creativity, Technology and design.<br />
          However we may, sometimes, diverge a little.<br />
          Enjoy your read!

      ul.cnt-articles
        - each article in articles
          li.article
            a(href="#")
              span.article__left
                img(src="img/articles/#{article.path}/preview.jpg", width="100%", height="100%")
              span.article__right
                .article__title
                  h2= article.title
                  h2.author by <strong>#{article.author}</strong>
                h3= article.description
                span.keywords
                  - each keyword in article.keywords
                    span.keyword(href="#") ##{keyword}

    .content__right
      .presentation
        h4 Things we did
        .line
        .presentation__content.
          Some projects and experiments we did.<br />
          Make sure to take a look.
      ul.cnt-links
        li.link
          a(href="#") 
            h4 Christmas Experiments
            span.link__url www.christmasexperiments.com
        li.link
          a(href="#") 
            h4 Disney
            span.link__url www.disneyside.disneyparks.disney.go.com

    .clear

  footer




