include ../mixins/mixins

include ../includes/head

mixin article( previewUrl, articleUrl, title, description, date, author )
    a(href=articleUrl)
        img(src=previewUrl, width="240", height="100")
    .content
        .title= title
        .description= description
    .infos
        .left
            .date
                span Date: 
                span= date
            .author
                span Author:
                span= author
        .right
            mixin bt( "READ", articleUrl )  

include ../includes/weekly_bar

#main
    section#home
        .top
            #makioandfloz
                a#logo(href="/")
                    h1
                        img(src="img/global/logo.png", width="255", height="50", alt="Makio&Floz - Creative Developers")
                mixin bt( "ABOUT", "/about" )
            #diaporama
                .shadow
                - var items = []
                - items.push( { imgUrl: "img/diaporama/project_01.jpg", articleUrl: "#", title: "PERFS ON IPAD", date: "June 2009", author: "Makio" } )
                - items.push( { imgUrl: "img/diaporama/project_01.jpg", articleUrl: "#", title: "PERFS ON IPAD 2", date: "Decembre 2009", author: "Floz" } )
                - items.push( { imgUrl: "img/diaporama/project_01.jpg", articleUrl: "#", title: "PERFS ON IPAD 3", date: "January 2009", author: "Makio" } )
                - items.push( { imgUrl: "img/diaporama/project_01.jpg", articleUrl: "#", title: "PERFS ON IPAD 4", date: "June 2009", author: "Floz" } )
                ul#slides
                    - for item in items
                        li
                            a(href=item.articleUrl)
                                img(src=item.imgUrl, width="500", height="200")
                            .content
                                .left
                                    .title= item.title
                                .right
                                    .date
                                        span Date: 
                                        span= item.date
                                    .author
                                        span Author: 
                                        span= item.author
                nav
                    ul
                        -for item, i in items
                            li.activated
                                a(href=i)
        .bot
            ul#articles
                li
                    - var article = {}
                    - article.previewUrl = "img/articles/gamejam-workflow/thumb.jpg"
                    - article.articleUrl = "/articles/gamejam-workflow"
                    - article.title = "PREPARE YOUR GAMEJAM"
                    - article.description = "After fews gamejams you start to understand : made a good game in 2 days start by a good workflow. Here you are :)"
                    - article.date = "June 2013"
                    - article.author = "Makio"
                    mixin article( article.previewUrl, article.articleUrl, article.title, article.description, article.date, article.author )

include ../includes/footer

include ../includes/scripts