extends /layouts/default

block style
  link(rel="stylesheet", href="css/index.css")
  link(rel="stylesheet", href="css/index_articles.css")

block content
  header.topbar
    .topbar__cnt
      h1 MAKIO & FLOZ
      span.separator -
      h2 WE LOVE ART AND TECHNOLOGY

  .content
      ul.cnt-articles
        - each article, i in articles
          - var odd = i % 2
          li.article(class = odd == 1 ? "article--odd article--#{article.id}" : "article--#{article.id}" )
            a(href="./articles/#{article.id}")
              span.article__cnt-title
                span.article__cnt-title__content
                  h2.article__title!= article.title
                  h2.article__author by <strong>#{article.author}</strong>
              span.clear
              span.article__cnt
                span.article__cnt-img
                  img.article__img(src="img/articles/#{article.path}/preview.jpg", width="100%", height="100%")
                span.article__cnt-content
                  span.article__content
                    h3.article__description= article.description

  footer




